/node_modules
/public/hot
/public/storage
/public/front/images/product_images
/public/front/images/category_images
/public/front/images/events
/public/front/images/photos
/public/front/images/enquiries_images
/public/front/images/plan_images
/public/front/images/reviews_images
/public/front/images/product_banners
/public/front/videos/product_videos
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
